# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Node.js / Backend
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# React / Frontend
# =========================
build/
dist/

# =========================
# Database
# =========================
*.sqlite
*.db
*.dump
*.sql

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editors / IDEs
# =========================
.vscode/
.idea/
